{
  "parser": "babel-eslint",
  "extends": ["airbnb"
  ],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "comma-dangle": 0,
    "linebreak-style": 0,
    "react/jsx-uses-react": 2,
    "react/require-default-props": "off"
  },
  "plugins": [
    "react"
  ]
}