.VoteSidebar.row{
  .VoteSidebarContent {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    &.with-overflow {
      overflow: auto;
    }
    &.col-small {
      max-width: 50px !important;
    }
  }
}