body {
  margin: 0;
  padding: 0;
  background-color: #193441;
  height: 100vh;
  width: 100vw;
  font-family: 'Courgette', cursive; }

#root, .App {
  min-height: 100vh; }

.App {
  min-height: 100vh;
  position: relative; }

.BeginVote .row {
  min-height: 88vh; }

.CreateAVote .row {
  min-height: 88vh; }

.AddPlace, .AddVoice, .GetUserVotes {
  min-height: 88vh; }

.bg-blue {
  background-color: #3E606F; }

.PlaceMap {
  height: 80vh; }

.VoteMap {
  height: 60vh; }

.Header {
  height: 6vh; }

.Footer {
  position: relative;
  width: 100%;
  height: 6vh;
  line-height: 6vh; }

.AlertBox {
  margin-bottom: 0px; }
