body {
    margin: 0;
    padding: 0;
    background-color: #193441;
    height: 100vh;
    width: 100vw;
    font-family: 'Courgette', cursive;
  }

#root, .App { 
  min-height: 100vh;
}

.App { 
  min-height: 100vh;
  position: relative;
}

.BeginVote .row {
  min-height: 85vh;
}

.CreateAVote .row {
  min-height: 85vh;
}

.AddPlace, .AddVoice, .GetUserVotes, .NotFound, .APropos {
  min-height: 85vh;
}

.AddPlace {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bg-blue {
  background-color: #3E606F;
}

.bg-lighter {
  background-color: rgba($color: #E5EFEE, $alpha: 0.3);
}

.round-corners {
  border-radius: 25px;
}
.PlaceMap {
  height: 80vh;
}

.Header {
  min-height: 9vh;
}

.Footer {
  position: relative;
  width: 100%;
  height: 6vh;
  line-height: 6vh;
}

.AlertBox {
  margin-bottom: 0px;
}